doctype 5
html
    head
        meta(charset='UTF-8')
        title Blog
        link(rel='stylesheet', href='stylesheets/style.css')
    body
        header
            h1= title
        nav
            span
                a(href='/') home
                if locals.user
                    a(href='/post') post
                    a(href='/logout') logout
                else
                    a(href='/login') login
                    a(href='/reg') register
        article
            if locals.success
                div= locals.success
            if locals.error
                div= locals.error
            block content